services:
  postgres:
    restart: always
    image: postgres:latest
    ports:
      - '${DATABASE_PORT}:5432'
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_USER=${DATABASE_USER}
