---
import { getEntry, render } from 'astro:content'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'

import Layout from '@/layouts/Layout.astro'

const currentLocale = getLocale()

const aboutPage = await getEntry('pages', `about-${currentLocale}`)

if (aboutPage === undefined || aboutPage.data.locale !== currentLocale)
  return Astro.rewrite('/404')

const metadata = {
  title: aboutPage.data.title,
  description: aboutPage.data.description,
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('/about', { locale }),
  })),
}

const { Content } = await render(aboutPage)
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <Content />
  </main>
</Layout>
