---
import { locales, localizeHref } from '@/i18n/runtime'

import Layout from '@/layouts/Layout.astro'

import { m } from '@/i18n/messages'

const metadata = {
  title: m.say_hi({ username: 'John Doe' }),
  description: m.sample_text(),
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('', { locale }),
  })),
}
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <h1>{metadata.title}</h1>
    <p>{metadata.description}</p>
  </main>
</Layout>
