---
import { getEntry, render } from 'astro:content'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'

import Layout from '@/layouts/Layout.astro'

const currentLocale = getLocale()

const accessibilityPage = await getEntry(
  'pages',
  `accessibility-${currentLocale}`,
)

if (
  accessibilityPage === undefined ||
  accessibilityPage.data.locale !== currentLocale
)
  return Astro.rewrite('/404')

const metadata = {
  title: accessibilityPage.data.title,
  description: accessibilityPage.data.description,
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('accessibility', { locale }),
  })),
}

const { Content } = await render(accessibilityPage)
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <Content />
  </main>
</Layout>
