---
import { getEntry, render } from 'astro:content'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'

import Layout from '@/layouts/Layout.astro'

const currentLocale = getLocale()

const privacyPolicyPage = await getEntry(
  'pages',
  `privacy-policy-${currentLocale}`,
)

if (
  privacyPolicyPage === undefined ||
  privacyPolicyPage.data.locale !== currentLocale
)
  return Astro.rewrite('/404')

const metadata = {
  title: privacyPolicyPage.data.title,
  description: privacyPolicyPage.data.description,
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('privacy-policy', { locale }),
  })),
}

const { Content } = await render(privacyPolicyPage)
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <Content />
  </main>
</Layout>
