---
import { getEntry, render } from 'astro:content'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'

import Layout from '@/layouts/Layout.astro'

const currentLocale = getLocale()

const termsOfServicePage = await getEntry(
  'pages',
  `terms-of-service-${currentLocale}`,
)

if (
  termsOfServicePage === undefined ||
  termsOfServicePage.data.locale !== currentLocale
)
  return Astro.rewrite('/404')

const metadata = {
  title: termsOfServicePage.data.title,
  description: termsOfServicePage.data.description,
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('terms-of-service', { locale }),
  })),
}

const { Content } = await render(termsOfServicePage)
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <Content />
  </main>
</Layout>
